body
{
	background-image: url("../images/main-background-wave.jpg");
	background-color: #046C78;
	background-blend-mode: multiply;
}

.text
{
	display: inline-block;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	color: #f68456;
}

.buttonText
{
	display: inline-block;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	color: #ffffff;
}

.box 
{
	background-color: #046C78;
	background-blend-mode: multiply;
	background-size: contain;
	
	box-shadow: 4px 4px 3px#f683568e;
	border: 3px solid #f68456;
	
	height: 50px;
	width: 65px;
}

.buttons
{
	background-color: #0791A6;
	font-size: 20px;

	border: none;
	border-radius: 20px;
	
	width: 30%;
	margin: 0;
	position: absolute;
	left: 35%;
	padding: 5px;
}

.buttons:hover{
   background-color: #f68456;
   opacity: 75%;
}

.form
{
	position: relative;
	transition: 0.5s;
}

#titleBox
{
	background-image: url("../images/box-background-wave-top.jpg");
	
	width: 60%;
	
	border-bottom-width: 0px;
	border-right-color: black;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

#titleBox2
{
	background-image: url("../images/box-background-wave-bottom.jpg");
	
	width: 90%;
	margin-left: 3%;
	margin-right: 5%;
	
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-right-color: black;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#titleBox3 
{
	background-image: url("../images/box-background-wave-left.jpg");
	background-size: auto 150px;
	background-repeat: repeat-y;
	
	float: left;
	height: 40%;
	margin-left: 6%;
	
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-color: black;
	border-bottom-left-radius: 10px;
}

#titleBox4
{
	background-image: url("../images/box-background-wave-right.jpg");
	background-size: auto 150px;
	background-position: right 0px;
	background-repeat: repeat-y;
	
	float: left;
	height: 80%;
	
	border-top-width: 0px;
	border-left-width: 0px;
	border-bottom-color: black;
	border-right-color: black;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#linkBox
{
	position: absolute;
	right: 5%;
	bottom: 5%;
	width: 180px;
	
	border-bottom-color: black;
	border-right-color: black;
	border-radius: 10px;
}

#loginBox
{
	margin-left: 44%;
	margin-top: 100px;
	left: -134px;
	height: 500px;
	width: 500px;
	position: relative;
	padding: 25px;
	overflow: hidden;
	
	border-bottom-color: black;
	border-right-color: black;
	border-radius: 10px;
	
	font-size: 30px;
}

#title 
{
    width: 100%;
    margin-left: 10%;
    text-align: left;
	font-size: 40px;
}

#inner-title
{
    font-size: 30px;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 2%;
}

input[type="text"]
{
	background-color: #ffded1;
	border-radius: 15px;
	border: none;
	
    width: 80%;
    margin-left: 10%;
    margin-bottom: 3%;
	
	text-align: center;
    font-family: 'Ubuntu', sans-serif;
	font-size: 25px;
}

input[type="password"]
{
	background-color: #ffded1;
	border-radius: 15px;
	border: none;
	
    width: 80%;
    margin-left: 10%;
    margin-bottom: 3%;
	
	text-align: center;
    font-family: 'Ubuntu', sans-serif;
	font-size: 25px;
}

input[type="submit"]
{
	visibility: hidden;
}

.invalidClass::-webkit-input-placeholder
{
	color: black;
}

#github
{
	font-size: 40px;
	font-style: italic;
	font-weight: bolder;
	text-decoration: none;
	
	width: 100%;
}

#loginResult
{
    font-size: 0.8em;
    width: 90%;
    position: absolute;
    margin-left: 5%;
    margin-bottom: 2%;
}

#signupResult
{
    font-size: 0.8em;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 2%;
}

#submitButton
{
    visibility: hidden;
}