body 
{
	background-image: url("../images/main-background-wave.jpg");
	background-color: #046C78;
	background-blend-mode: multiply;
}

#searchText
{
	font-size: 30px;
}

#contactText
{
	font-size: 30px;
}

#userName
{
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

#container
{
    font-size: 30px;
    width: 80%;
    margin: 20px auto;
    padding: 25px;
}

#contactTitleBox
{
	background-color: #046C78;

    background-blend-mode: multiply;
	background-size: contain;

    background-image: url("../images/box-background-wave-top.jpg");

	height: 50px;
	width: 60%;
	border: 3px solid #f68456;
	border-bottom-width: 0px;
	border-right-color: black;
	box-shadow: 4px 4px 3px#f683568e;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#contactTitleBox2
{
	background-color: #046C78;

    background-blend-mode: multiply;
	background-size: contain;

    background-image: url("../images/box-background-wave-bottom.jpg");

	height: 50px;
	width: 90%;
	margin-left: 3%;
	margin-right: 5%;
	border: 3px solid #f68456;
	border-top-width: 0px;
	border-bottom-color: black;
	border-right-color: black;
	box-shadow: 4px 4px 3px#f683568e;
 
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#contactTitle 
{
	display: inline-block;
    font-size: 40px;
    width: 100%;
    margin-left: 10%;
    text-align: left;
    font-family: 'Ubuntu', sans-serif;
    color: #f68456;
}

.contactButtons
{
    background-color: #0791A6;
    color: #ffffff;
    font-size: 16px;
    border-radius: 20px;
    padding: 5px;
    font-family: 'Ubuntu', sans-serif;
	text-align: center;
    border: none;
}

.contactButtons:hover
{
    background-color: #f68456;
}

#searchContainer
{
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    justify-content: space-between;
	align-items: center;
}

#searchBarWrapper
{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: 15%;
}

#searchBar
{
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border: none;
    height: 42.5px;
    width: 40%;
    padding-left: 10px;
	font-size: 18px
}

#searchButton 
{
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-left: none;
    font-size: 18px;
    width: 70px;
} 

#addBtn
{
    height: 42.5px;
    margin-right: 15%;
    padding: 5px 10px;
}

#searchInput 
{
	color: black;
    width: 70%;
    padding: 10px;
    font-size: 18px;
}

.contact-row 
{
    background-color: #fffffff1;
    border: 2px solid #96d4e7;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.contact-row:hover 
{
    background-color: #96d4e7;
}

.contact-header 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.contact-name 
{
    
    font-size: 30px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
}

.toggle-indicator 
{
    color: 0791A6;
}

.contact 
{
    display: none;
    margin: 10px;
    margin-top: 0px;
    font-family: 'Ubuntu', sans-serif;
}

.contact-row.expanded .contact 
{
    display: flex;
    flex-direction: column;
}

.contact-info 
{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.size-6
{
    height: 20px;
    width: 20px;
}

#emailDiv, #phoneDiv
{
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 20px;
}

#phoneDiv
{
    margin-left: 10%;
}

.contact-bottom
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#dateCreated
{
    display: flex;
    align-items: flex-end;
    font-size: 12px;
}

.contact-actions 
{
    display: flex;  
}

#contactList
{
    padding-left: 15%;
    padding-right: 15%;
}

.edit-btn, .delete-btn, .save-btn 
{
    margin: 5px;
    padding: 5px 10px;
}

#logoutBtn 
{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
}

#scrollToTopBtn
{
	display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 5px 10px;
    cursor: pointer;
}

.contact-row input 
{
    background-color: #CFD3D1;
    font-size: 16px;
    padding: 5px;
    margin: 5px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #0791A6;
}

#newContactBox
{
    margin-left: 15%;
    margin-right: 15%;
}

.editable.editing 
{
    background-color: #cfd3d185;
    padding: 5px;
    margin: 5px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #0791A6;
 }

 input[type="submit"]
{
	visibility: hidden;
}

#submitSearch
{
    visibility: hidden;
}