body 
{
    background-color: #413fc0;
}

#titleBox
{
	height: 100px;
	background-color: #2c95d3;
	margin-right: 5%;
}

#titleBox2 
{
	background-color: #2c95d3;
	height: 850%;
	width: 135px;
	margin-left: 5%;
}

#title 
{
	display: inline-block;
    font-size: 40px;
    width: 100%;
    margin-left: 5%;
    text-align: left;
    font-family: 'Ubuntu', sans-serif;
    color: #e0c41f;
}

#loginDiv
{
    font-size: 30px;
    width: 70%;
	margin-top: 5%;
    margin-left: 20%;
    padding: 25px;
    background-color: #413fc0;
}

#loggedInDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

#accessUIDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

.buttons
{
    background-color: #1f3be0;
    color: #e0c41f;
    font-size: 20px;
    border-radius: 20px;
    width: 20%;
    margin-left: 20%;
    padding: 5px;
    font-family: 'Ubuntu', sans-serif;
}

.buttons:hover{
    background-color: #e0c41f;
    color: #1f3bE0;
    opacity: 75%;
}

#Username
{
	font-size: 30px;
}
#Password
{
	font-size: 30px;
}
#searchText
{
	font-size: 30px;
}
#colorText
{
	font-size: 30px;
}

input[type="username"],input[type="password"]
{
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
}

#inner-title
{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: right;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #e0c41f;
}

#loginResult
{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}

#userName
{
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

select
{
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 0.75em;
    font-family: 'Ubuntu', sans-serif;
}

#contactSearchResult
{
    display: none;
}

#contactAddResult
{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}

#contactDeleteResult
{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}

#contactEditResult
{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}