body 
{
	background-image: url("../images/main-background-wave.jpg");
	background-color: #046C78;
	background-blend-mode: multiply;
}

.text
{
	display: inline-block;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
    color: #f68456;
}

.box 
{
	background-color: #046C78;
	background-blend-mode: multiply;
	background-size: contain;
	border: 3px solid #f68456;
	height: 50px;
	width: 65px;
	box-shadow: 5px 5px #f68456;
}

.buttons
{
    background-color: #046C78;
    font-size: 20px;
	border: 2px solid black;
	border-top-color: #f68456;
	border-left-color: #f68456;
    border-radius: 20px;
    width: 30%;
	margin: 0;
	position: absolute;
	left: 35%;
    padding: 5px;
}

.buttons:hover{
    background-color: #f68456;
	border: 2px solid #f68456;
	border-top-color: black;
	border-left-color: black;
    color: #046C78;
    opacity: 75%;
}

#titleBox
{
	background-image: url("../images/box-background-wave-top.jpg");
	width: 60%;
	border-bottom-width: 0px;
	border-right-color: black;
}

#titleBox2
{
	background-image: url("../images/box-background-wave-bottom.jpg");
	width: 90%;
	margin-left: 3%;
	margin-right: 5%;
	border-top-width: 0px;
	border-bottom-color: black;
	border-right-color: black;
}

#loggedInDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}
#accessUIDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

#title 
{
    font-size: 40px;
    width: 100%;
    margin-left: 10%;
    text-align: left;
}

#searchText
{
	font-size: 30px;
}

#contactText
{
	font-size: 30px;
}

#userName
{
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

select
{
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 0.75em;
    font-family: 'Ubuntu', sans-serif;
}

#contactSearchResult
{
    display: none;
}

#contactAddResult
{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}

#contactDeleteResult
{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}

#contactEditResult
{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}

#container
{
    font-size: 30px;
    width: 80%;
    margin: 20px auto;
    padding: 25px;
}

#contactTitleBox
{
	background-color: #046C78;
	height: 50px;
	width: 60%;
	border: 3px solid #f68456;
	border-bottom-width: 0px;
	border-right-color: black;
	box-shadow: 3px 3px 7px #f68456;

    border-top-left-radius: 5px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#contactTitleBox2
{
	background-color: #046C78;
	height: 50px;
	width: 90%;
	margin-left: 3%;
	margin-right: 5%;
	border: 3px solid #f68456;
	border-top-width: 0px;
	border-bottom-color: black;
	border-right-color: black;
	box-shadow: 3px 6px 7px #f68456;
 
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 5px;
}

#contactTitle 
{
	display: inline-block;
    font-size: 40px;
    width: 100%;
    margin-left: 10%;
    text-align: left;
    font-family: 'Ubuntu', sans-serif;
    color: #f68456;
}

.contactButtons
{
    background-color: #0791A6;
    color: #ffffff;
    font-size: 16px;
	border: 2px solid black;
	border-top-color: #f68456;
	border-left-color: #f68456;
    border-radius: 20px;
    padding: 5px;
    font-family: 'Ubuntu', sans-serif;
	text-align: center;
    border: none;
    
}

.contactButtons:hover
{
    background-color: #f68456;
    opacity: 75%;
}

#searchContainer
{
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    justify-content: space-between;
	align-items: center;
}

#searchBarWrapper
{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: 15%;
}

#searchBar
{
	background-color: #f68456;
	border: 2px solid black;
	border-top-color: #f68456;
	border-left-color: #f68456;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border: none;
    height: 42.5px;
    width: 40%;
    padding-left: 10px;
	font-size: 18px
}

#searchButton 
{
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-left: none;
    font-size: 18px;
    width: 70px;
} 

#addBtn
{
    height: 42.5px;
    margin-right: 15%;
    padding: 5px 10px;
}

#searchInput 
{
	color: black;
    width: 70%;
    padding: 10px;
    font-size: 18px;
}

.contact-row 
{
    background-color: #fffffff1;
    border: 2px solid #96d4e7;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.contact-row:hover 
{
    background-color: #96d4e7;
}

.contact-header 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.contact-name 
{
    
    font-size: 30px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
}

.toggle-indicator 
{
    color: 0791A6;
    font-size: 15px;
}

.contact 
{
    display: none;
    margin: 10px;
    margin-top: 0px;
    font-family: 'Ubuntu', sans-serif;
}

.contact-row.expanded .contact 
{
    display: flex;
    flex-direction: column;
}

.contact-info 
{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.size-6
{
    height: 20px;
    width: 20px;
}

#emailDiv, #phoneDiv
{
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 20px;
}

#phoneDiv
{
    margin-left: 10%;
}

.contact-bottom
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#dateCreated
{
    display: flex;
    align-items: flex-end;
    font-size: 12px;
}

.contact-actions 
{
    display: flex;  
}

#contactList
{
    padding-left: 15%;
    padding-right: 15%;
}

.edit-btn, .delete-btn 
{
    margin: 5px;
    padding: 5px 10px;
}

#logoutBtn 
{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
}

#scrollToTopBtn
{
	display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 5px 10px;
    cursor: pointer;
}

.contact-row input 
{
    font-size: 16px;
    padding: 5px;
    margin: 5px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#newContactBox
{
    margin-left: 15%;
    margin-right: 15%;
}

.editable.editing {
    background-color: #f0f0f0;
    padding: 2px;
    border: 1px solid #ccc;
 }
